.container {
  border-bottom: 1px solid #d1d5db; /* Light gray border */
  padding-right: 30px;

}

.accordionButton {
  width: 100%;
  text-align: left;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  background: none;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  font-family: Montserrat;
  font-weight: 600;
}

.accordionButton:hover {
  opacity: 0.8;
}

.accordionContent {
  line-height: 1.5;
  overflow: hidden;
  height: 1000px;
  position: absolute;
  padding-right: 20px;
}
