.containerDeTout {
    border: 20px solid black;
    color: black;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    padding: 10px;
    width: 100%;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
}

.containerDeTout2 {
    border: 20px solid black;
    color: black;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    padding: 10px;
    width: 100%;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
}

.containerDeTout3 {
    border: 20px solid black;
    color: black;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    padding: 10px;
    width: 100%;
    /* margin-top: 200px; */
    justify-content: center;
    align-items: center;
}

.articleComplet {
    display: flex;
    /* flex-direction: column; */
    border: 2px solid greenyellow;
    color: black;
    width: 100%;
    height: auto;
    padding: 10px;
    justify-content: center;
}

.articleLinkContainer {
    width: 200px;
    height: auto;
    color: black;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 10px;
    border: 2px solid purple;
}

/* .article:hover {
    cursor: pointer;
} */

.modelPriceContainer {
    border: 2px solid blue;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.cardPhotoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    width: 100%;
    height: 300px;
}

/* .photosArticle {
    width: 100%;
    height: 100%;
} */

.photosContainer{
    border: 2px solid pink;
    width: 50%;
    height: 700px;
    margin: auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */

}

/* .photosArticle {
    width: 100%;
    height: 100%;
} */

.buttonAchete {
    height: 60px;
    width: 80%;
    margin: auto;
}

.buttonAchete:hover {
    cursor: pointer;
}

.separateur{
    border: 2px solid orange;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    flex: 1;
}

/* .articlesProposes {

} */

.description {
    line-height: 1.5; 
    margin-left: 20px;
}






/* STYLES POUR PAGE AJOUTARTICLEBDD */

.divPromotion {
    display: flex;
    align-items: center; 
    
}

.selectPromotion {
    height: 80%;
}



.p1{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-top: 200px;
    
}
.inputStyle {
    width: 500px;
    height: 50px;

}

.descriptionInputStyle {
    width: 500px;
    height: 300px;

}


.divEnsemble {
    display: flex;
}

.p2 {
    /* display: flex;
    flex-direction: row; */
    /* justify-content: flex-start; */
    width: 80%
}