.stuffStyle{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.containerDeTout {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    padding: 10px;
    width: 100%;
    /* margin-top: 200px; */
    justify-content: center;
    align-items: center;
}

.pageTitle{
    display: flex;
    flex-direction: column;
}

