.articleContainer {
  height: 300px;
  width: 250px;
  margin: 20px;
}

.cardContainer {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.photo {
  display: block;
  width: 100%;
  height: 250px;
  cursor: pointer;
}


.textContainer {
  display: flex;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: bottom;
}

.textContainer p {
  font-size: 0.8rem;
  margin-left: 0;
  margin-right: 0;
}


.articleTitle {
    font-weight: 600;
}

.articlePrice {
    font-weight: 300;
}