.containerDeTout {
    border: 20px solid black;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    padding: 10px;
    width: 100%;
    /* margin-top: 200px; */
    justify-content: center;
    align-items: center;
}


.articleLinkContainer {
    width: 250px;
    height: auto;
    color: black;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 10px;
    border: 2px solid purple;

}

.article:hover {
    cursor: pointer;
}

.modelPriceContainer {
    border: 2px solid blue;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.cardPhotoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    width: 100%;
    height: 100%
    /* overflow: hidden; */
}

.cardPhotoContainer:hover {
    cursor: pointer;
}

.pageTitle{
    color: black;
    margin-top: 200px;
}

.stuffStyle{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: solid 2px transparent;
    border-radius: 14px;
    background-color: rgb(221, 221, 221);
    margin-right: 30px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3); 
    padding: 40px 30px 40px 30px

}





/* page articlesSimimaires */
.modelPlacement {
    margin-right: 20px;
}

/* .pricePlacement {
    
} */