.containerDeTout {
    color: black;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.articleComplet {
    display: flex;
    /* border: 2px solid greenyellow; */
    color: black;
    width: 97%;
    height: auto;
    justify-content: center;
    margin-left: 30px;
    padding: 5px 35px 5px 35px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);

}

.textContainer{
    /* border: 2px solid orange; */
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    flex: 1;
}

.categoryText {
    background-color: #7C7C7C;
    padding: 8px;
    color: white;
    width: 175px;
}

.photosContainer{
    /* border: 2px solid pink; */
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;

}

.photoLength{
    display: flex;
    justify-content: center;
}


.buttonAchete {
    height: 60px;
    width: 60%;
    margin: auto;
    background-color: #12806A;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3); 
    border-radius: 10px;
    color: white;
    font-size: 20px;

}

.buttonAchete:hover {
    cursor: pointer;
    transform: scale(1.03); 
    box-shadow: 0px 0px 15px 5px rgba(199, 241, 224, 0.6);
    background-color: #abd3ca;
    color: black;
   
}

.description {
    line-height: 1.5; 
    margin-left: 20px;
    
}
.descriptionContainer {
    padding-top: 50px;
}



.articlePrice{
    padding-top: 50px;
}


/* STYLES POUR PAGE AJOUTARTICLEBDD */

.divPromotion {
    display: flex;
    align-items: center; 
    
}

.selectPromotion {
    height: 80%;
}



.p1{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-top: 200px;
    
}
.inputStyle {
    width: 500px;
    height: 50px;

}

.descriptionInputStyle {
    width: 500px;
    height: 300px;

}


.divEnsemble {
    display: flex;
}

.p2 {
    /* display: flex;
    flex-direction: row; */
    /* justify-content: flex-start; */
    width: 80%
}