.card {

	width: 80%;
	margin: 20px;
}

.cartItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #ddd;
	padding: 15px;
	margin-bottom: 10px;
	border-radius: 8px;
	background-color: #fff;
  }


.itemDescription {
	flex-grow: 1;
	margin-left: 15px;
  }

.icon {
	font-size: 14px;
	margin-right: 8px;
	background: #eee;
	cursor: pointer;
	margin: 5 10px;
}

.quantityControls {
	display: flex;
	align-items: center;
	margin-top: 10px;
  }






