.outerContainer {
  display: flex;
  justify-content: space-between; /* Ensures even spacing */
  gap: 50px;
  margin-top: 50px;
}

.column1 {
  flex: 60%;
  text-align: left;
  background-color: white;
  margin-left: 100px;
  padding-left: 50px;
  padding-top: 50px;
  min-height: 250px;
}

.column2 {
  flex: 40%;
  text-align: left;
  background-color: white;
  margin-right: 100px;
  padding-left: 50px;
  padding-top: 50px;
  max-height: 300px;
}

.subtitle {
  color: #6F387C;
}

.button {
	background-color: #202020;
	color: white;
	height: 50px;
	width: 300px;
  margin-top: 20px;
  }

@media (max-width: 768px) {
  .outerContainer {
    flex-direction: column;
  }
  .column1 {
    width: 100%;
	margin-left: 0px;

  }
  .column2 {
    width: 100%;
  }
}
