.barreMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  max-height: 60px;
  background: #12806a;
  color: #ffff;
}

.headerIcons {
  display: flex;
  align-items: center;
}

.numberContainer {
  position: absolute;
  background-color: white;
  top: 6px; /* Adjust this value to place the badge */
  right: 3px; /* Moves badge to the corner */
  color: #12806a;
  font-size: 12px;
  font-weight: bold;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .title {
  line-height: 1.15;
  font-size: 4rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
} */

/* Conteneur du menu */

.dropDownMenu {
  position: absolute; /* removes it from the normal flow */
  top: 100%; /* places it just below the parent element */
  left: 50%; /* positions it in the middle of the parent */
  transform: translateX(-50%); /* perfectly centers the dropdown */
  z-index: 10; /* ensures it appears above other elements */
  background-color: white;
  padding: 1.5rem;
  margin-top: 0px;
  list-style: none;
}

.menu {
  position: absolute;
  top: 41px;
  right: 40px;
  background: #F5F5F5;
  border: 1px solid black;
  width: 180px;
  padding: 10px;
  z-index: 1000;
  color: black;
  list-style: none;
}

.menu li {
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.2s ease-in-out;
  margin-bottom: 0.5rem;
}

.menu li a {
  text-decoration: none;
  color: #202020;
  font-size: 0.85rem;
  font-weight: 300;
}
.menu li a:hover {
  color: #12806a;
}

.menu::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 80%;
  transform: translateX(-50%);
  width: 12px;
  height: 12px;
  background-color: #F5F5F5;
  border-left: 1px solid black;
  border-top: 1px solid black;
  transform: rotate(45deg);
}

.a {
  color: #ffff;
}

.iconStyle {
  font-size: 20px;
  cursor: pointer;
  position: relative;
  margin-left: 20px;
  color: #ffff;
  cursor: pointer;
}



.welcomeSign {
  margin-right: 20px;
}

/* Animation pour afficher le menu */
.menu-enter {
  opacity: 0;
  transform: translateY(-10px);
}

.menu-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.2s, transform 0.2s;
}

.linkHome {
  color: #ffff;
  cursor: pointer;
}
/* Container pour les categories */
.containerCat {
  display: flex;
  justify-content: center; /* Centers items horizontally */
  align-items: center; /* Centers items vertically */
  gap: 3rem;
  cursor: pointer;
  background-color: white;
  text-transform: uppercase;
}

/* .cartContainer{
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */
