.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 4rem 0;
  }
  
  .barreMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #12806A;
  
  }