.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 0;
  color: black;
}

.header {
  border-bottom: 2px #6f387c solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.headerIcons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 12vw;
}

.buttons {
  position: absolute;
  width: 344px;
  height: 56px;
  left: 80px;
  top: 768px;
}

.formsContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 500px;
  height: 500px;
}

.formSeparator {
  padding: 50px;
  text-align: center;
  background-color: white;
  margin-bottom: 60px;
}

/* .line {
  width: 200px;
  height: 2px;
  background-color: #202020;

} */

.subTitle {
  margin-bottom: 50px;
}

.commentaryText {
  margin-bottom: -5px;
}

.formRow {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.formRow label {
  width: 150px;
}

.formRow input {
  flex: 1;
}

.button {
  background-color: #202020;
  color: white;
  height: 50px;
  width: 100%;
}

/* @media (max-width: 600px) {
  .formRow {
    flex-direction: column;
    align-items: flex-start;
  }

  .formRow label {
    width: auto;        
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
} */
